<div class="bg-[#F8F8F8] flex flex-col items-center pb-16">
  <div class="w-full flex justify-center border-b-2 md:border-[#7BC35E]">
    <div class="w-9/12 max-w-[1070px]">
      <app-landing-inputs></app-landing-inputs>
    </div>
  </div>
  <div class="w-9/12 max-w-[1070px] md:m-0 mt-16">
    <p class="text-[#7FC664] mb-5 mt-10">
      Total Items<span class="text-black"> (327)</span>
    </p>
    <div class="landing-bg flex items-center justify-center p-3 shadow-lg">
      <div class="w-9/12 border-2 border-[#7FC664] p-3 text-center">
        <h1 class="text-xl text-[#043645] font-semibold">
          NO SETUP FEES OR DESIGN FEES
        </h1>
        <p class="text-[12px] text-[#6FB754] font-semibold">
          INCLUDES ALL GOLF TOURNAMENT SIGNAGE
        </p>
      </div>
    </div>
    <div class="w-full flex flex-col items-center mt-5">
      <div class="grid sm:grid-cols-3 grid-cols-1 gap-4 w-full">
        <div
          *ngFor="let card of data"
          class="w-full col-span-1 pb-6 bg-white drop-shadow-md"
        >
          <img
            [src]="card.pic"
            alt=""
            class="w-[100%] h-[320px] object-cover hover:opacity-75 duration-200"
          />
          <a href="/detail" class="cursor-pointer">
          <div class="w-[85%] mx-auto border-2 p-3 border-t-0">
            <p class="text-lg text-[#043645] font-semibold">{{ card.name }}</p>
            <p class="text-lg text-[#043645] font-semibold">{{ card.desc }}</p>
            <p class="text-[#75C257] text-2xl mt-4">
              {{ card.price }}/<span class="text-lg">{{ card.sub }}</span>
            </p>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
