<div class="w-full h-[110px] bg-white fixed top-0 flex justify-center z-[9999] border-b-2 border-b-[#7BC35E]">
  <div
    class="md:w-9/12 w-full py-4 gap-3 md:gap-0 px-3 md:px-0 flex justify-between items-center max-w-[1070px] z-[1000]"
  >
    <div class="md:w-1/5 w-1/2">
      <a href="/">
        <svg class="max-w-[100%]">
          <image xlink:href="../../../assets/images/main-logo.svg" width="100%" height="100%" />
        </svg>
      </a>
    </div>
    <div class="flex items-center gap-5">
      <p  (click)="openModal()" class=" cursor-pointer text-[#838383] hidden md:block">Donate</p>
      <div
        class="flex bg-[#75C257] items-center gap-3 px-5 py-3 rounded-3xl h-[40px] font-extrabold  Montserrat-bold text-[12px]"
      >
        <p>LOGIN</p>
        <div class="h-full w-px self-stretch bg-black"></div>
        <p class="whitespace-nowrap">SIGN UP</p>
      </div>
      <a href="/shipping">
        <img
        class="max-w-[30px] hidden md:block"
        src="../../../assets/images/icons/shop.svg"
        alt=""
      />
      </a>
      <app-burger-close class="md:hidden"> </app-burger-close>
    </div>
  </div>
  <div
    class="absolute w-full h-[100px] mobile-menu flex justify-center items-center"
    id="mobile-menu"
  >
    <div class="w-[60%] flex justify-evenly">
      <img
        class="max-w-[30px]"
        src="../../../assets/images/icons/shop.svg"
        alt=""
      />
      <p class="text-[#838383]">Donate</p>
    </div>
  </div>
  <!--(isClosed)="closed($event)" -->
  <app-card-modal *ngIf="isOpened"  [(isOpened)]="isOpened">
  </app-card-modal>
</div>
<div class="w-full h-[110px]"></div>
