<div class="w-[100%] fixed z-[1001] bottom-0 top-0 right-0 h-[100%] flex">
  <div class="w-1/2 hidden md:block bg-black opacity-60"></div>
  <div class="md:w-1/2 w-full flex">
    <div class="w-[20px] bg-[#75c257f3]"></div>
    <div *ngIf="!isEmpty; else emptyModal" class="w-full bg-white">
      <div class="pl-[50px] h-[110px] border-b-2 border-b-[#7BC35E] w-full">
        <div class="md:w-[70%] w-full flex justify-between items-center h-full">
          <p class="text-[#043645] text-2xl Montserrat-bold">Cart</p>
          <button (click)="closeModal()">
            <img
              class="max-w-[50px] Mons"
              src="../../../assets/images/icons/close.svg"
              alt=""
            />
          </button>
        </div>
      </div>
      <div class="flex flex-col justify-between h-[90%] overflow-auto">
        <div class="w-full overflow-auto">
          <div class="md:w-[70%] w-[85%] flex flex-col mt-[30px] ml-[30px]">
            <div *ngFor="let item of data">
              <div class="flex relative gap-5 md:flex-row flex-col w-full">
                <img class="max-w-[120px]" [src]="item.img" alt="" />
                <div class="w-full flex flex-col justify-between">
                  <div>
                    <p class="text-lg text-[#043645] font-bold">
                      {{ item.name }}
                    </p>
                    <p class="text-[#929292]">{{ item.type }}</p>
                  </div>
                  <div class="flex justify-between w-full">
                    <div class="flex gap-2">
                      <p class="text-[#929292]">Quantity:</p>
                      <div class="flex items-center mb-1">
                        <button
                          class="border h-[22px] px-2 flex justify-center items-center"
                        >
                          -
                        </button>
                        <div
                          class="border h-[24px] w-[32px] flex justify-center items-center text-[#75C257]"
                        >
                          12
                        </div>
                        <button
                          class="border h-[22px] px-2 flex justify-center items-center"
                        >
                          +
                        </button>
                      </div>
                    </div>
                    <p class="text-[#75c257] text-lg">{{ item.price }}</p>
                  </div>
                </div>
              </div>
              <div class="w-full h-[1px] bg-[#D7D7D7] my-5"></div>
            </div>
            <label for="" class="Montserrat-bold text-sm mb-1"
              >Order Note</label
            >
            <textarea
              class="border border-[#D7D7D7] h-[100px]"
              name=""
              id=""
              cols="30"
              rows="10"
            ></textarea>
            <!-- <div class="h-[180px]">
      
            </div> -->
          </div>
        </div>
        <div class="pb-10">
          <div class="w-full h-[1px] bg-[#D7D7D7] my-7"></div>
          <div class="md:w-[70%] w-[85%] ml-[30px]">
            <div class="flex justify-between">
              <p class="Montserrat-bold text-sm mb-1">SUBTOTAL</p>
              <p class="text-[#75c257] text-lg">$840.00</p>
            </div>
            <div class="flex flex-col items-center">
              <p
                class="text-sm text-[#929292] mb-2 md:text-start text-center md:mt-0 mt-3"
              >
                Shipping, taxes, and discount codes calculated at checkout.
              </p>
              <a href="/confirmation" class="w-full">
                <button
                class="w-full border-2 border-[#75C257] py-1 text-[#75C257] font-semibold mb-11"
              >
                PROCEED TO CHECKOUT
              </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #emptyModal>
      <div class="w-full h-[100vh] bg-white">
        <div class="pl-[50px] h-[110px] border-b-2 border-b-[#7BC35E] w-full">
          <div
            class="md:w-[70%] w-full flex justify-between items-center h-full"
          >
            <p class="text-[#043645] text-2xl Montserrat-bold">Cart</p>
            <button (click)="closeModal()">
              <img
                class="max-w-[50px] Mons"
                src="../../../assets/images/icons/close.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <div
          class="md:max-w-[45%] text-center md:mt-14 md:ml-[70px] p-4 md:p-0"
        >
          <img src="../../../assets/images/empty-cart.svg" alt="" />
          <p class="text-[#75c257] text-2xl">Nothing in the cart!</p>
          <p class="text-[#043645] font-bold">
            Add some of our exciting products to add a flair to your golf event.
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
