<div class="w-full bg-[#F8F8F8] md:py-[70px] py-12 gibson">
  <div
    class="md:w-9/12 w-full gap-3 md:gap-0 px-3 md:px-0 flex max-w-[1070px] md:flex-row flex-col mx-auto"
  >
    <div class="w-full md:pr-5 pr-0">
      <p class="text-[#929292] text-base">
        Category:<span class="text-[#75C257]"> Tee Signs</span>
      </p>
      <div class="my-2.5">
        <p class="text-[#043645] text-3xl">Golf Ball Tee Sign</p>
        <p class="text-[#043645] text-3xl">(Coroplast)</p>
      </div>
      <p class="text-[#75C257] text-xl">$35.00 /<span class="text-sm">Sign</span></p>
      <hr class="border-t-[#929292] mt-3 md:mb-7 mb-3 hidden md:block" />
      <div class="max-w-[660px] mt-3 md:mt-0 block md:hidden">
        <app-product-detail-carousel> </app-product-detail-carousel>
      </div>
      <p class="text-[#929292] mb-1.5 text-base">Style</p>
      <div class="flex gap-2 mb-5 font-bold">
        <button class="text-black border-2 border-black w-[142px] text-sm">
          Classic
        </button>
        <button
          class="text-[#929292] border-2 border-[#929292] py-1 w-[142px] text-sm"
        >
          Color Ring
        </button>
      </div>
      <p class="text-[#929292] mb-1.5 text-base">Quantity</p>
      <div class="flex items-center mb-1">
        <button class="border h-[36px] px-3 flex justify-center items-center">
          -
        </button>
        <div
          class="border h-[42px] w-[50px] flex justify-center items-center text-[#75C257]"
        >
          12
        </div>
        <button class="border h-[36px] px-3 flex justify-center items-center">
          +
        </button>
      </div>
      <p class="text-[#DA0F0F] text-sm mb-7">
        You have to choose minimum 12 units
      </p>
      <button
        class="w-full border-2 border-[#75C257] py-1 text-[#75C257] font-semibold mb-11"
      >
        ADD TO CART
      </button>
      <p class="text-lg font-bold">DETAILS</p>
      <ul>
        <li class="text-[#043645] flex font-bold items-start gap-3">
          <div class="gap-2 flex items-center">
            <div class="w-[6px] h-[6px] rounded-full bg-[#043645]"></div>
            Product:
          </div>
          <span class="text-[#929292] font-normal"> Golf Ball Tee Sign</span>
        </li>
        <li class="text-[#043645] flex font-bold items-start gap-3">
          <div class="gap-2 flex items-center">
            <div class="w-[6px] h-[6px] rounded-full bg-[#043645]"></div>
            Dimensions:
          </div>
          <span class="text-[#929292] font-normal"> 20" Radius</span>
        </li>
        <li class="text-[#043645] flex font-bold items-start gap-3">
          <div class="gap-2 flex items-center">
            <div class="w-[6px] h-[6px] rounded-full bg-[#043645]"></div>
            Includes:
          </div>
          <span class="text-[#929292] font-normal"> Wire H-Stake</span>
        </li>
        <li class="text-[#043645] flex font-bold items-start gap-3">
          <div class="gap-2 flex items-center">
            <div class="w-[6px] h-[6px] rounded-full bg-[#043645]"></div>
            Construction:
          </div>
          <span class="text-[#929292] font-normal">
            4mm 1/8" Coroplast <br />
            (Corrugated PVC)</span
          >
        </li>
        <li class="text-[#043645] flex font-bold items-start gap-3">
          <div class="gap-2 flex items-center">
            <div class="w-[6px] h-[6px] rounded-full bg-[#043645]"></div>
            Design & Approval:
          </div>
          <span class="text-[#929292] font-normal"> 2 Business Days</span>
        </li>
        <li class="text-[#043645] flex font-bold items-start gap-3">
          <div class="gap-2 flex items-center">
            <div class="w-[6px] h-[6px] rounded-full bg-[#043645]"></div>
            Making & Shipping:
          </div>
          <span class="text-[#929292] font-normal"> 10 Business Days</span>
        </li>
      </ul>
    </div>
    <div class="max-w-[660px] mt-3 md:mt-0 hidden md:block">
      <app-product-detail-carousel> </app-product-detail-carousel>
    </div>
  </div>
  <div
    class="md:w-9/12 w-full gap-3 md:gap-0 px-3 md:px-0 flex max-w-[1070px] mt-24 flex-col mx-auto"
  >
    <div>
      <p class="text-lg font-bold ">DESCRIPTION</p>
      <p class="text-[#929292]">
        Golf sponsor tee signs are essential for promoting charity event
        sponsors and Birdie Media offers eye-catching exclusive tee signs that
        make a statement and are visually engaging. Every charity tournament
        needs quality tee box signage to properly thank golf sponsors.
      </p>
      <p class="text-[#929292] mt-6">
        Our custom Diecut Golf Sponsor Tee Signs are shaped like an oversized
        golf ball and really make an impact at each tee box. Each is printed
        single-sided, full-color on 4mm Coroplast and include one (1) wire
        H-stake per sign.
      </p>
    </div>
    <div class="md:mt-12 mt-5">
      <p class="text-lg font-bold">ARTWORK</p>
      <p class="text-[#929292]">
        After your order is placed, a representative will contact you within 2
        business days to procure all sponsor event logos and creative direction
        necessary for product development and fulfillment. To maintain brand
        consistency, your selected products will be specifically designed to
        reflect and compliment the established logo branding for each sponsor.
        Preferred logo file formats: Adobe Illustrator and CorelDraw (AI • EPS •
        SVG • CDR). Other acceptable file formats are high resolution: (JPG •
        PNG • TIF)
      </p>
      <p class="text-[#929292] mt-6">
        If you are unable to provide each sponsor logo in one of the specified
        formats our art department can recreate the logo for a fee to ensure
        proper print quality. Birdie Media is not liable for pixelated or blurry
        art reproduction caused by low resolution logos/graphics provided by the
        customer. Alternatively, you may opt to have the sponsor’s name typed
        using plain text.
      </p>
    </div>
    <div class="md:mt-12 mt-5">
      <p class="text-lg font-bold">SHARE</p>
      <div class="flex gap-3 mt-4">
        <img class="hover:opacity-75 cursor-pointer duration-200" src="../../../assets/images/icons/social/share.svg" alt="">
        <img class="hover:opacity-75 cursor-pointer duration-200" src="../../../assets/images/icons/social/facebook.svg" alt="">
        <img class="hover:opacity-75 cursor-pointer duration-200" src="../../../assets/images/icons/social/instagram.svg" alt="">
        <img class="hover:opacity-75 cursor-pointer duration-200" src="../../../assets/images/icons/social/whatsapp.svg" alt="">
        <img class="hover:opacity-75 cursor-pointer duration-200" src="../../../assets/images/icons/social/twetter.svg" alt="">
      </div>
    </div>
    <hr class="  mt-7 md:mb-12 mb-3" />
    <p class="text-lg font-bold">YOU MAY ALSO LIKE</p>
    <div class="w-full flex flex-col items-center mt-[19px]">
      <div class="grid sm:grid-cols-3 grid-cols-1 gap-4 w-full">
        <div
          *ngFor="let card of data"
          class="w-full col-span-1 pb-6 bg-white drop-shadow-md"
        >
          <img
            [src]="card.pic"
            alt=""
            class="w-[100%] h-[320px] object-cover hover:opacity-75 duration-200"
          />
          <div class="w-[85%] mx-auto border-2 p-3 border-t-0">
            <p class="text-lg text-[#043645] font-semibold whitespace-nowrap">{{ card.name }}</p>
            <p class="text-lg text-[#043645] font-semibold">{{ card.desc }}</p>
            <p class="text-[#75C257] text-[28px] mt-6">
              {{ card.price }}/<span class="text-lg">{{ card.sub }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

