@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Montserrat-bold';
    src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  }


  .Montserrat-bold{
    font-family: Montserrat-bold, bold
  }

body{
    font-family: Montserrat, regular;
}


