<div class="w-full flex items-end flex-col pt-11">
  <div class="md:w-[100%] max-w-[500px] w-full pl-[30px] md:pl-0">
    <p class="text-[#043645] text-2xl font-bold Montserrat-bold">
      Shipping & Payment
    </p>
  </div>
  <div class="w-full h-[2px] bg-[#E5F3DF] mt-2.5 mb-[28px]"></div>
  <div class="md:w-[100%] max-w-[500px] w-full pr-[30px] pl-[30px] md:pl-0">
    <form action="">
      <div class="mb-2">
        <label
          for="email"
          class="mb-2 text-sm font-medium text-gray-900 dark:text-white flex justify-between items-center md:gap-0 gap-3"
          ><p class="Montserrat-bold">CONTACT</p>
          <p class="text-[#929292]">
            Already have an account?
            <a href="" class="text-[#75c257]"> Log in</a>
          </p></label
        >
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Your Email"
          required
        />
      </div>
      <label
        for="default"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white Montserrat-bold"
        >SHIPPING</label
      >
     <div class="relative">
        <select
        id="default"
        class="Montserrat-bold bg-gray-50 border border-gray-300 text-[#5a5d6a] mb-6 text-[12px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pt-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option class="text-black" selected>Choose a country</option>
        <option class="text-black" value="US">United States</option>
        <option class="text-black" value="CA">Canada</option>
        <option class="text-black" value="FR">France</option>
        <option class="text-black" value="DE">Germany</option>
      </select>
      <p class="absolute top-1 left-[15px] text-[12px] text-[#5a5d6a]">Country/ Region</p>
     </div>
     <div class="flex gap-3 mb-6">
        <div class="w-full">
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First name" required>
        </div>
        <div class="w-full">
            <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last name" required>
        </div>
     </div>
     <div>
        <input type="text" id="first_name" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Company (Optional)" required>
    </div>
     <div>
        <input type="text" id="first_name" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address" required>
    </div>
     <div>
        <input type="text" id="first_name" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Apartment, suite, etc. (Optional)" required>
    </div>
    <div class="flex gap-3">
        <div>
            <input type="text" id="first_name" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="City" required>
        </div>
        <select
        id="default"
        class="bg-gray-50 border border-gray-300 text-[#B7B9C3] mb-6 text-[12px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option class="text-black" selected>State</option>
        <option class="text-black" value="US">United States</option>
        <option class="text-black" value="CA">Canada</option>
        <option class="text-black" value="FR">France</option>
        <option class="text-black" value="DE">Germany</option>
      </select>
        <div>
            <input type="text" id="first_name" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Zipcode" required>
        </div>
    </div>
    <div>
        <input type="text" id="first_name" class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Phone" required>
    </div>
    <button class="tracking-[1.92px] w-full text-white bg-[#76c257] Montserrat-bold p-2.5 pb-2 hover:opacity-80 duration-200">CONTINUE TO SHIPPING</button>
    </form>
  </div>
  <div class="w-full h-[250px] hidden md:block"></div>
</div>


